version: '3.8'

services:
  app:
      build: .
      depends_on:
        - postgres
      environment:
        - DATABASE_URL=${DATABASE_URL}
      ports:
        - "8000:8000"
  postgres:
    image: postgres:16
    container_name: my-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}      # ← Используем ${DB_USER} или значение по умолчанию
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-fastapi_db}
    ports:
      - ${DB_PORTS:-5432:5432}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 3s
      timeout: 10s
      retries: 10
  
  migrate:
    build: .
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      postgres:
        condition: service_healthy
    command: bash -lc "alembic upgrade head"
    restart: "no"

volumes:
  postgres_data: