version: '3.8'

services:
  app:
      build: .
      depends_on:
        - postgres
      environment:
        - DATABASE_URL=${DATABASE_URL}
      ports:
        - "8000:8000"
  postgres:
    image: postgres:16
    container_name: my-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - ${DB_PORTS}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # Можно также подключить init-скрипты:
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d fastapi_db"]
      interval: 3s
      timeout: 10s
      retries: 10
  
  migrate:
    build: .
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      postgres:
        condition: service_healthy
    command: bash -lc "alembic upgrade head"
    restart: "no"

volumes:
  postgres_data: